* {
	--corner-radius: 10px;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

#statusContainer {
	font-weight: 500;
	font-size: 30px;
	text-align: center;
	background-color: #D12025;
	color: white;
	padding: 10px;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

#mainContainer {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
	display: flex;
	position: absolute;
	height: var(--album-art-size);
	margin: 20px;
	filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 1));
	width: 100%;
	max-width: 500px;
	bottom: calc(50% - 20px);
	left: 50%;
	opacity: 0;
	transition: all 0.5s ease;
}

#albumArtBox {
	background: rgba(0, 0, 0, 0.5);
	position: relative;
	border-radius: var(--corner-radius);
	overflow: hidden;
	margin: 0px 8px 0px 0px;
	object-fit: cover;
	width: 100px;
	top: 50%;
	transform: translate(525%, 0%) scale(1);
	z-index: 10;
}

#albumArt {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	object-fit: cover;
}

#albumArtBox img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#songInfoBox {
	position: relative;
	color: white;
	width: calc(100% - 125px);
	display: flex;
	flex-direction: column;
	flex: 0 1 auto;
	justify-content: center;
	z-index: 1;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	z-index: 5;
}

#songInfo {
	background: rgba(0, 0, 0, 0.5);
	opacity: 0.9;
	position: relative;
	border-radius: var(--corner-radius);
	padding: 0px 20px;
	height: 100%;
	overflow: hidden;
}

#IAmRunningOutOfNamesForTheseBoxes {
    position: relative;
    width: calc(100% - 40px);
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translate(0%, -50%);
    z-index: 100;
}

#backgroundArt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600%;
    z-index: -1;
    border-radius: var(--corner-radius);
    overflow: hidden;
    opacity: 0.9;
}

#backgroundRightLine {
    position: absolute;
    top: 0;
    left: 0;
    width: 105px;
    height: 600%;
    z-index: -1;
    border-radius: var(--corner-radius);
    overflow: hidden;
    opacity: 0.9;
    transform: translate(412.5px, 0%);
}
#backgroundImageRightLine,
#backgroundImageRightLineBack {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(20px);
}


#backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(20px);
}
#backgroundImageRightLine {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;        /* Breite der Linie, anpassen nach Wunsch */
    height: 100%;
    object-fit: cover;
    filter: blur(20px);
    z-index: 2;
}

#backgroundImageBack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;   /* Bild passt sich an Containergröße an */
    filter: blur(20px);
    z-index: -1;
}


#artistLabel {
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	white-space: nowrap;
	transition: all 0.5s ease;
}

#songLabel {
	font-weight: bold;
	font-size: 20px;	
	width: calc(100%);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: all 0.5s ease;
    z-index: 100;
}

#progressBg {
	margin-top: 15px;
	width: 100%;
	height: auto;
	border-radius: 5px;
	background-color: #1F1F1F;
}

#progressBar {
	border-radius: 5px;
	height: 5px;
	width: 20%;
	background-color: #ffffff;
	margin: 10px 0px;
	transition: all 1s ease;
}

#times {
	position: relative;
	height: 16px;
	font-size: 16px;
	font-weight: 700;
	line-height: 2.2;
}

#progressTime {
	position: absolute;
}

#timeRemaining {
	position: absolute;
	width: 100%;
	text-align: right;
}

.text-show {
	opacity: 1;
	transition: all 0.25s ease;
}

.text-fade {
	opacity: 0;
	transition: all 0.25s ease;
}
