* {
  --corner-radius: 10px;
  --album-art-size: 150px; /* größere Album-Art */
  --widget-width: 640px; /* Breite des 16:9 Containers */
  --widget-height: calc(var(--widget-width) * 9 / 16); /* Höhe automatisch für 16:9 */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

#statusContainer {
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  background-color: #D12025;
  color: white;
  padding: 10px;
  border-radius: var(--corner-radius);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

#mainContainer {
  position: relative;
  width: var(--widget-width);
  height: var(--widget-height);
  margin: 0 auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column; /* Text oben, Album-Art unten */
  align-items: center;
  justify-content: flex-start;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.7));
  background: rgba(0,0,0,0.1); /* optional leichter Hintergrund */
  border-radius: var(--corner-radius);
  opacity: 1;
  transition: all 0.5s ease;
}

#songInfoBox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  text-align: center;
  margin-bottom: 10px; /* Abstand zum Album-Art */
}

#songInfo {
  background: rgba(0, 0, 0, 0.5);
  border-radius: var(--corner-radius);
  padding: 20px;
  width: 90%;
  height: auto;
}

#artistLabel {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

#songLabel {
  font-weight: bold;
  font-size: 24px;	
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#albumArtBox {
  width: var(--album-art-size);
  height: var(--album-art-size);
  border-radius: var(--corner-radius);
  overflow: hidden;
  margin-top: 10px; /* Abstand vom Text */
}

#albumArt {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#backgroundArt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: var(--corner-radius);
  overflow: hidden;
  z-index: 1;
  opacity: 0.8;
}

#backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(20px);
}

#progressBg {
  width: 90%;
  height: 5px;
  background-color: #1F1F1F;
  border-radius: 5px;
  margin-top: 10px;
}

#progressBar {
  width: 0%;
  height: 5px;
  border-radius: 5px;
  background-color: #ffffff;
  transition: all 1s ease;
}

#times {
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
}

.text-show {
  opacity: 1;
  transition: all 0.25s ease;
}

.text-fade {
  opacity: 0;
  transition: all 0.25s ease;
}
